.App {
  text-align: center;
  /* color: white;*/
  /* background-color: #282c34;  */
  /* background-color: #eaa8d0;  */
  height: fit-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button-div{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.elegance-button {
  width: 33vw;
  min-width: 50px;
  max-width: 500px;
  min-height: 50pt;
  margin: 3pt;
}

.data-grid-div {
  height: fit-content;
}